.card {
  padding: 24px;
  background-color: rgb(106, 180, 106);
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.02);
}

img {
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 0;
  border-radius: 12px;
  box-shadow: rgba(26, 26, 29, 0.603) 0px 7px 29px 0px;
}
p {
  margin: 0;
  padding: 0;
  font-size: 24px;
  text-shadow: rgba(26, 26, 29, 0.603) 0px 7px 29px 0px;
}

@media screen and (max-width: 450px) {
  img {
    width: 75px;
    height: 75px;
  }

  p {
    font-size: 13px;
  }

  .card {
    padding: 10px 10px;
    gap: 12px;
  }
}
